<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="IIS,.Net,C#">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Article</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta name="msapplication-TileColor" content="#0e90d2">

    <script type="text/javascript" src="~/assents/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assents/js/amazeui.min.js"></script>
    <link rel="icon" type="image/png" href="~/assents/i/favicon.png">
    <meta name="msapplication-TileImage" content="~/assents/i/app-icon72x72@2x.png" />

    <link rel="stylesheet" href="~/assents/css/amazeui.css" />
    <link rel="stylesheet" href="~/assents/css/app.css" />
</head>
<body>
    <hr>
    <!-- nav start -->
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="blog-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                @Html.ActionLink("首页", "index", "blog", new { @class = "am-active" })
                @Html.ActionLink("编辑","edit","blog",new { @class= "am-active" })
            </ul>
            <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
                <div class="am-form-group">
                    <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
                </div>
            </form>
        </div>
    </nav>
    <hr>
    <!-- nav end -->
    <div class="am-g">
        <div class="">  @*am-u-sm-12*@
            @RenderBody()
        </div>
    </div>
    <!-- content end -->
    <hr>
    <footer>
        @*<div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>*@
    </footer>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
