@using MyBlog.Areas.MyBlog.Models;
@model AtricleYeShu

<script type="text/javascript">
    function pageIndex(yeshu) {
    $('#artList').load('home/page', { "yeshu": yeshu }, function () { });
}
</script>

@foreach (var v in Model.ArticleList as IEnumerable<Article>)
{
    <article class="am-g blog-entry-article">
        <div class="am-u-md-12 am-u-sm-12 blog-entry-text">
            <h1><a href="Home/blog?id=@v.Id">@v.Theme</a></h1>
            <a a href="Home/blog?id=@v.Id">
                <p>
                    @v.Describe
                </p>
            </a>
            
            <p><a href="" class="blog-continue">continue reading</a></p>
        </div>
    </article>
}
<ul class="am-pagination">
    @if (Model.YeShu-1 > 0)
    {
        <li class="am-pagination-prev"><a href="#" onclick="pageIndex(@Model.YeShu-1)">&laquo; Prev</a></li>
    }
    else
    {
        <li class="am-pagination-prev"><a href="javascript:void(0);">&laquo; Prev</a></li>
    }
    @if (Model.YeShu+1> Model.PageCount)
    {
        <li class="am-pagination-next"><a href="javascript:void(0);">Next &raquo;</a></li>
    }
    else
    {
        <li class="am-pagination-next"><a href="#" onclick="pageIndex(@Model.YeShu+1)">Next &raquo;</a></li>
    }
</ul>

