@using MyBlog.Areas.MyBlog.Models;
@model AtricleYeShu

@{ 
    <title>.Net，博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
}

<div id="artList">
    @Html.Partial("Index_BlogList", Model)
</div>
