@using MyBlog.Areas.MyBlog.Models;
@model IEnumerable<Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var v in Model)
{
    <article class="am-g blog-entry-article">
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
            <img src=@v.imgUrl alt="" class="am-u-sm-12">
        </div>
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
            <span><a href="MyBlog/blog?n=@v.id" class="blog-color">article &nbsp;</a></span>
            <span> @v.author &nbsp;</span>
            <span>@v.date</span>
            <h1><a href="MyBlog/blog?n=@v.id">@v.theme</a></h1>
            <p>
                @v.describe
            </p>
            <p><a href="" class="blog-continue">continue reading</a></p>
        </div>
    </article>
}

