<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    @*<title># Id </title>*@

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta name="msapplication-TileColor" content="#0e90d2">

    <script type="text/javascript" src="~/assents/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Editor/JS/jquery.particleground.js"></script>
    <script type="text/javascript" src="~/assents/js/amazeui.min.js"></script>
    <link rel="icon" type="image/png" href="~/assents/i/favicon.png">
    <meta name="msapplication-TileImage" content="~/assents/i/app-icon72x72@2x.png" />

    <link rel="stylesheet" href="~/assents/css/amazeui.css" />
    <link rel="stylesheet" href="~/assents/css/app.css" />

    <script type="text/javascript">
        $(function () {
            $('#blog').particleground(
                {
                    dotColor: '#ff6666',
                    lineColor: '#666666'
                });
        });
    </script>
</head>
<body>
    <div id="blog">
        <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
            <div class="am-u-sm-11 am-u-sm-centered">
                @*<img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo" style="margin-top:20px" />*@
                <h2 class="am-hide-sm-only">欢迎</h2>
            </div>
        </header>
        <hr>
        <!-- nav start -->
        <nav class="am-g am-g-fixed blog-fixed blog-nav">
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
            <div class="am-collapse am-topbar-collapse" id="blog-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li>@Html.ActionLink("首页", "index", "home")</li>
                    <li><a href="javascript:void(0);">存档</a></li>
                </ul>
                <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
                    <div class="am-form-group">
                        <input type="text" class="am-form-field am-input-sm" placeholder="站内搜索">
                    </div>
                </form>
            </div>
        </nav>
        <hr>
        <!-- nav end -->
        <!-- banner start -->
        @*<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
                <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}'>
                    <ul class="am-slides">
                        <li>
                            <img src="~/assents/i/b1.jpg">
                        </li>
                        <li>
                            <img src="~/assents/i/b2.jpg">
                        </li>
                        <li>
                            <img src="~/assents/i/b3.jpg">
                        </li>
                        <li>
                            <img src="~/assents/i/b1.jpg">
                        </li>
                    </ul>
                </div>
            </div>*@
        <!-- banner end -->
        <!-- content srart -->
        <div class="am-g am-g-fixed blog-fixed">
            <div class="am-u-md-9 am-u-sm-12">
                @RenderBody()
            </div>
            <div class="am-u-md-3 am-u-sm-12 blog-sidebar">
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
                    <img src="~/assents/i/f161.jpg" alt="about me" class="blog-entry-img">
                    <p>#id</p>
                    <p>
                        技术小白一枚，共勉
                    </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
                    <p>
                        <a href="javascript:void(0);"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                        <a href="javascript:void(0);"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                        <a href="javascript:void(0);"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                        <a href="javascript:void(0);"><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                        <a href="javascript:void(0);"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
                    </p>
                </div>
                <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
                    <h2 class="blog-title"><span>TAG cloud</span></h2>
                    <div class="am-u-sm-12 blog-clear-padding">
                        <a href="javascript:void(0);" class="blog-tag">.NET</a>
                        <a href="javascript:void(0);" class="blog-tag">SqlServer</a>
                        <a href="javascript:void(0);" class="blog-tag">WebApi</a>
                        <a href="javascript:void(0);" class="blog-tag">Hello World</a>
                        <a href="javascript:void(0);" class="blog-tag">哈哈</a>
                        @*<a href="javascript:void(0);" class="blog-tag">Amazeui</a>*@
                    </div>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-title"><span>热门文章</span></h2>
                    <ul class="am-list">
                        <li><a href="javascript:void(0);">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                        <li><a href="javascript:void(0);">我把最深沉的秘密放在那里。</a></li>
                        <li><a href="javascript:void(0);">你不懂我，我不怪你。</a></li>
                        <li><a href="javascript:void(0);">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
    <hr>
    <footer class="blog-footer">
        <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
            <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h3>模板简介</h3>
                <p class="am-text-sm">
                    这是一个使用amazeUI做的简单的前端模板。<br> 博客/ 资讯类 前端模板 <br> 支持响应式，多种布局，包括主页、文章页、媒体页、分类页等<br>嗯嗯嗯，不知道说啥了。外面的世界真精彩<br><br>
                    Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。
                </p>
            </div>
            <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h3>社交账号</h3>
                <p>
                    <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
                </p>
                <h3>Credits</h3>
                <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>
            </div>
            <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h1>我们站在巨人的肩膀上</h1>
                <a href="http://tpl.amazeui.org/content.html?7" target="_blank">
                    <span>
                        在此感谢Amaze UI提供的模板
                    </span>
                </a>
            </div>
        </div>
        <div class="blog-text-center">
            <a href="http://www.miitbeian.gov.cn/" target="_blank">
                <span>鲁ICP备17030766号</span>
            </a>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
