@using MyBlog.Areas.MyBlog.Models;
@model Article

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MyBlog/Views/Shared/_Layout.cshtml";
}
@Model.article
<article class="am-article blog-article-p">
    <div class="am-article-bd">
        <h1 class="am-article-title blog-text-center">@Model.theme</h1>
    </div>
    <div class="am-article-bd">
        @Model.article
    </div>
</article>

